<mat-toolbar>
  <button class="hambur" mat-icon-button (click)="sidenav.toggle();">
   <mat-icon>grade</mat-icon>
 </button>
<button class="closed" (click)="authService.logOut()" color="warn" mat-flat-button>Cerrar sesión</button>
 <nav class="toolbar">
  <ul>
    <li>API REST VERSION DRAGON BALL</li>
    <li class="example-spacer"></li>
    <li>CODERHOUSE</li>
  </ul>
</nav>
</mat-toolbar>

<!-- <nav class="toolbar">
  <ul>
    <li class="" routerLink="">Home</li>
    <li class="" routerLink="/students">Students</li>
    <li>CODERHOUSE</li>
  </ul>
</nav> -->
